name: bsu_student_app
description: BSU Student App
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  html: ^0.15.4            # Парсинг HTML (для логина BSU)
  syncfusion_flutter_pdf: ^24.1.41 # Мощный PDF движок
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true